<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>

</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1>Hakkımızda</h1>
        
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam facilis nemo modi iure eos exercitationem enim aperiam, architecto incidunt repudiandae omnis adipisci nulla repellendus cum rem. Expedita dolorum ut ullam. Inventore numquam nam architecto vitae ea iusto, laudantium, sed atque ipsam quos culpa nobis pariatur, ut voluptatum quas facere consequuntur!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, iste iusto? Cum dolorum, facilis aperiam deserunt quod sint placeat harum, facere autem praesentium dignissimos nostrum exercitationem quis. Est officiis dolorum quae ipsam maiores, voluptatum, eos deserunt dolor accusamus officia fugit saepe dolore ea eius exercitationem quis illum nam, excepturi accusantium.</p>
</section>

</body>
</html>